<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= business.name %> | Settings</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="/admin/styles.css">
    <link rel="icon" type="image/svg+xml" href="<%= business.logos.svg %>">
    <link rel="icon" type="image/png" href="<%= business.logos.png %>">
    <script src="/client-side/script.js"></script>
</head>
<body>
    <header>
        <!-- Navbar with responsive hamburger menu -->
        <nav class="navbar navbar-expand-lg navbar-light custom-navbar" id="navbar">
            <!-- Hamburger Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapsible Navbar -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active"><a class="nav-link" aria-current="page" href="#home">Salon Info</a></li>
                    <li class="nav-item"><a class="nav-link" href="#staff-members-section">Manage Staff Members</a></li>
                    <li class="nav-item"><a class="nav-link" href="#services-section">Manage Services</a></li>
                </ul>
            </div>
            <div class="ml-auto auth-buttons" id="account-buttons">
                <a href="signout" class="btn btn-primary" id="sign-out-link">Sign Out</a>
            </div>
        </nav>
    </header>

    <div class="container my-5">
        <h2 class="mb-4">Appointments</h2>
        
        <!-- Table for appointments -->
        <table class="table table-bordered table-striped">
          <thead class="table-dark">
            <tr>
              <th scope="col">#</th>
              <th>Service</th>
              <th>Employee</th>
              <th>Date</th>
              <th>Time</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="appointments-table-body">
            <% if (appointments && appointments.length > 0) { %>
                <% appointments.forEach((appointment, index) => { %>
                  <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= appointment.service %></td>
                    <td><%= appointment.employee %></td>
                    <td><%= appointment.date %></td>
                    <td><%= appointment.time %></td>
                    <td><%= appointment.status %></td>
                    <td><button class="btn btn-success btn-sm" onclick="approveAppointment(<%= appointment.id %>)">Approve</button></td>
                  </tr>
                <% }); %>
              <% } else { %>
                <tr>
                  <td colspan="7" class="text-center text-muted">No requests at the moment</td>
                </tr>
              <% } %>
          </tbody>
        </table>
      </div>

      <!-- Main Content -->
    <div class="container mt-5">
        <h2 class="mb-4">User Contact Requests</h2>
        
        <!-- Table -->
        <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Message</th>
            <th scope="col">Date Submitted</th>
            </tr>
        </thead>
        <tbody>
            <% if (contactRequests && contactRequests.length > 0) { %>
              <% contactRequests.forEach((request, index) => { %>
                <tr>
                  <th scope="row"><%= index + 1 %></th>
                  <td><%= request.name %></td>
                  <td><%= request.email %></td>
                  <td><%= request.message %></td>
                  <td><%= request.createdAt %></td>
                </tr>
              <% }); %>
            <% } else { %>
              <tr>
                <td colspan="5" class="text-center text-muted">No requests at the moment</td>
              </tr>
            <% } %>
          </tbody>
        </table>
    </div>

    <main class="container my-5">
        <!-- Salon Info Section -->
        <section class="mb-5">
            <h2 class="mb-4" id="home">Salon Information</h2>
            <form class="form-horizontal" action="/admin/update" method="POST" enctype="multipart/form-data">
                <!-- Salon Information -->
                <div class="form-group">
                    <label for="name">Salon Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%= business.name ? business.name : '' %>" required>
                </div>
                <div class="form-group">
                    <label for="hours">Hours</label>
                    <div id="business-hours">
                        <% Object.keys(business.hours).forEach(function(day, index) { %>
                            <div class="mb-2">
                                <label><%= day %></label>
                                <div class="d-flex">
                                    <% if (business.hours[day] === 'Closed') { %>
                                        <input type="text" class="form-control mr-2" name="hours[0][<%= day %>]" value="Closed">
                                    <% } else { %>
                                        <% const time = business.hours[day].split(" "); %>
                                        <input type="text" class="form-control mr-2" name="hours[0][<%= day %>]" value="<%= time[0] %>">
                                        <input type="time" class="form-control mr-2" name="hours[0][<%= day %>]" value="<%= time[1] %>">
                                        <input type="time" class="form-control mr-2" name="hours[0][<%= day %>]" value="<%= time[2] %>">
                                    <% } %>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
                <div class="form-group">
                    <label for="logo">Logo</label>
                    <input type="file" class="form-control-file" id="logo" name="logo">
                </div>
                <div class="form-group">
                    <label for="homePageBackgroundPic">Background Picture (Home Page)</label>
                    <input type="file" class="form-control-file" id="homePageBackgroundPic" name="homePageBackgroundPic">
                </div>
                <div class="form-group">
                    <label for="authPageBackgroundPic">Background Picture (Authorization Pages)</label>
                    <input type="file" class="form-control-file" id="authPageBackgroundPic" name="authPageBackgroundPic">
                </div>

                <!-- Staff Members Section -->
                <div id="staff-members-section">
                    <h3>Manage Staff Members</h3>
                    <% if (Array.isArray(business.staffMembers) && business.staffMembers.length > 0) { %>
                        <% business.staffMembers.forEach((staffMember, index) => { %>
                            <div class="staff-member-input mb-4">
                                <label for="staff-member-name-<%= index %>">Name</label>
                                <input type="text" class="form-control" id="staff-member-name-<%= index %>" name="staffMembers[<%= index %>][name]" value="<%= staffMember.name %>" required>
                                <label for="staff-member-name-<%= index %>">Job Title</label>
                                <input type="text" class="form-control" id="staff-member-job-title-<%= index %>" name="staffMembers[<%= index %>][jobTitle]" value="<%= staffMember.jobTitle %>">
                                <label for="staff-member-bio-<%= index %>">Bio</label>
                                <textarea class="form-control" id="staff-member-bio-<%= index %>" name="staffMembers[<%= index %>][bio]"><%= staffMember.bio %></textarea>
                                <label for="staff-member-image-<%= index %>">Image</label>
                                <input type="file" class="form-control-file" id="staff-member-image-<%= index %>" name="staffMembers[<%= index %>][image]">
                                <button type="button" class="btn btn-danger remove-staff-member">Remove</button>
                            </div>
                        <% }) %>
                    <% } else { %>
                        <p>No staff members available at the moment.</p>
                    <% } %>
                    <button type="button" class="btn btn-primary" id="add-staff-member">Add Staff Member</button>
                </div>

                <!-- Services Section -->
                <div id="services-section">
                    <h3>Manage Services</h3>
                    <% if (Array.isArray(business.services) && business.services.length > 0) { %>
                        <% business.services.forEach((service, index) => { %>
                            <div class="service-input mb-4">
                                <label for="service-name-<%= index %>">Name</label>
                                <input type="text" class="form-control" id="service-name-<%= index %>" name="services[<%= index %>][name]" value="<%= service.name %>" required>
                                <label for="service-name-<%= index %>">Price</label>
                                <input type="text" class="form-control" id="service-name-<%= index %>" name="services[<%= index %>][price]" value="<%= service.price %>">
                                <label for="service-description-<%= index %>">Description</label>
                                <textarea class="form-control" id="service-description-<%= index %>" name="services[<%= index %>][description]"><%= service.description %></textarea>
                                <label for="service-image-<%= index %>">Image</label>
                                <input type="file" class="form-control-file" id="service-image-<%= index %>" name="services[<%= index %>][image]">
                                <button type="button" class="btn btn-danger mt-2 remove-service">Remove</button>
                            </div>
                        <% }) %>
                    <% } else { %>
                        <p>No services available at the moment.</p>
                    <% } %>
                    <button type="button" class="btn btn-primary" id="add-service">Add Service</button>
                </div>
                <button type="submit" class="btn btn-primary btn-lg mt-5">Update</button>
            </form>
        </section>
    </main>

    <script>
        function approveAppointment(appointmentId) {
            // Make a DELETE request to your server
            fetch(`/appointments/${appointmentId}`, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (response.ok) {
                    // Success - Remove the appointment row from the table or show success message
                    alert('Appointment canceled successfully!');
                    location.reload();
                    // document.getElementById(`appointment-${appointmentId}`).remove();
                } else {
                    // Handle errors
                    return response.json().then(err => {
                        throw new Error(err.message);
                    });
                }
            })
            .catch(error => {
                console.error('Error canceling appointment:', error);
                alert('Failed to cancel appointment. Please try again.');
            });

        }
    </script>

</body>
</html>
